{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "layout/main.html" %}


{% block body %}


<div class="row">

	<!-- left column -->
	<div class="span6">
		<h3>Terms</h3>

		{% for term in terms %}
			<h4>{{ term.text }}: {{term.action}}</h4>
		{% endfor %}
	</div>

	<div class="span6">
		

		<form method="POST" action="/">
			<legend><h3>Add a Term</h3></legend>

			<label for="term">Term</label>
			<input type="text" id="text" name="text" value="">

			<label for="action">Action</label>
			<input type="text" id="action" name="action" value="">

			<button type="submit" class="btn btn-primary">Add Term</button>
		</form>
	</div>
</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}